body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr{
  border-color: #dc3545;
  border-width: 3px;
  max-width: 65px;
}

.buffer{
  height: 10rem;
}

h1{

font-size: 3rem;
color: #cfcfcf;
}

.btn-xl{
  padding: 1rem 2rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-danger{
  background-color: ;
  border-color: ;
  transition: 0.5s;
}

.btn-danger:hover{
  background-color: ;
  transform: scale(1.05);
}